<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BESTHackathon2016</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body ng-app="app" ng-controller="App">
  
  <div id="login-modal" 
       class="modal fade"
       role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" 
                  class="close" 
                  data-dismiss="modal">&times;</button>
                  
          <h4 class="modal-title">
            Login
          </h4>
        </div>
        
        <div class="modal-body">
          <div class="form-group">
          <b>Email:</b>
          <input type="email"
                 ng-model="user.email"
                 class="form-control">  
          </div>
          <div class="form-group">
            <b>Password:</b>
            <input type="text"
                  ng-model="user.password"
                  class="form-control">  
          </div>       
        </div>
        <div class="modal-footer">
          <button class="btn btn-success"
                  ng-disabled="!user.email || !user.password"
                  ng-click="logUserIn()">
                  
                  Login
          </button>
          <button type="button"
                  id="closeLoginModalBtn" 
                  class="btn btn-default" 
                  data-dismiss="modal">
                  
                  Close
          </button>
        </div>
      </div>

    </div>
  </div>

  <header>
    
    <div class="container text-center">
      
      <div class="col-md-12">
        
        <h1>
          
          <span ng-if="!logInStatus" ng-bind="profile_title.$value"></span>
          
          <input type="text"
                 ng-model="profile_title.$value" 
                 ng-if="logInStatus">
          
          <button class="btn btn-success edit-blog-title"
                  ng-if="logInStatus"
                  ng-click="saveTitle()">
          
            <span class="glyphicon glyphicon-ok"></span>
            Save
          </button>
        </h1>
        
        
        <nav>
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation"
                ng-class="{'active': activeTab === 'main'}"
                ng-click="setActiveTab('main')">
              <a href="#main">Main</a>
            </li>
            
            <li role="presentation"
                ng-class="{'active': activeTab === 'about'}"
                ng-click="setActiveTab('about')">
              <a href="#about">About Me</a>
            </li>
            
            <li role="presentation"
                ng-class="{'active': activeTab === 'contact'}"
                ng-click="setActiveTab('contact')">
              <a href="#contact">Contact</a>
            </li>  
          </ul>  
        </nav> 
      </div>
    </div>
  </header>
  
  <button class="btn btn-primary auth-btn"
          ng-if="!logInStatus"
          data-target="#login-modal"
          data-toggle="modal">
          LogIn
    <span class="glyphicon glyphicon-log-in"></span>
  </button>
  
  <button class="btn btn-primary auth-btn"
          ng-if="logInStatus"
          ng-click="auth.$unauth()">
          LogOut
    <span class="glyphicon glyphicon-log-out"></span>
  </button>
  
  <ng-view>
  </ng-view>
  
  <div class="container">
    <div class="row text-center">
      <div class="form-group">
        
        <div class="col-md-12">@Best hackathon 2016</div>
      </div>
    </div>  
  </div>  
  <script src="https://use.fontawesome.com/f096cd2508.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="build.js"></script>
<!--<body ng-app="app">-->

    <!--<div ng-controller="textController">-->
        <!--<form ng-submit="addTextItem()">-->
            <!--<input ng-model="newTextItemText" />-->
            <!--<button type="submit">Add Message</button>-->
        <!--</form>-->
        <!--<ul>-->
            <!--<li ng-repeat="item in textItems">-->
                <!--{{item.text}}-->
                <!--<input ng-model="item.text"/>-->
                <!--<button ng-click="textItems.$save(item)">Edit Message</button>-->
                <!--<button ng-click="textItems.$remove(item)"> Delete Message </button>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<br /><br /><br /><br />-->
    <!--</div>-->

    <!--<div ng-controller="imageController">-->
        <!--<input id="fileInput" type="file" fileread="uploadme" loader="uploadme.showLoader" accept="image/*" style="display: none" />&lt;!&ndash;multiple&ndash;&gt;-->
        <!--<button ng-click="onSelectImgClick()">Select images</button>-->

        <!--<p ng-hide="!uploadme.showLoader">......</p>-->

        <!--<p ng-repeat="file in uploadme">{{file.src}}</p>-->

        <!--<button ng-click="addImage()" ng-disabled="!uploadme.length">Upload image</button>-->

        <!--<ul>-->
            <!--<li ng-repeat="image in imageItems">-->
                <!--<img ng-src="{{image.src}}">-->
                <!--<button ng-click="imageItems.$remove(image)"> Delete Message </button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <!-- --------------------------- -->
</body>
</html>